@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-image: url("../styling/wiccitbg.jpeg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vw;
    width: 100%;

}

img {
    border-radius: 50%;
}













